@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf);
    font-style: normal;
    font-weight: normal;
}
body{
    font-family: var(--fonte0);
}
:root{
    --cor0:#c5ebd6;
    --cor1:#83E1AD;
    --cor2:#3DDC84;
    --cor3:#2FA866;
    --cor4:#1A5C37;
    --cor5:#063d1e;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1:'Bebas Neue', cursive;
    --fonte2:'Android', sans-serif;
}
strong{
    color: var(--cor5);
}
header{
    background-image: linear-gradient(to bottom, var(--cor2),var(--cor4));
    text-shadow: 2px 2px 0px rgba(0, 0, 0px, 0.466);
    margin-top: -24px;
    margin-bottom:-10px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 0px;
    height: 200px;
}
header > h1{
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    margin-top: 0%;
    padding: 70px 30px 0px 30px;
    font-family: var(--fonte1);
    color: white;
}
header > p {
    color: white;
    font-family: var(--fonte0);
    text-align: center;
    margin-top: -15px;
    padding: 0px;
}
body{
    background-color: rgba(219, 205, 158, 0.815);
    font-family: var(--fonte0);
    color: var(--cor0);
}
#menu {
    padding-top: 0px;
    margin-top: -19px;
    text-align: start;
    list-style-type: none;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
a{
    color: white;
    text-decoration: none;
    padding: 4px 8px;
    border-radius: 10px;
}
.interno{
    background-color: var(--cor2);
    font-weight: bold;
    color: #1A5C37;
}
a:hover{
    background-color: var(--cor0);
}
main{
    font-family: var(--fonte0);
    max-width: 800px;
    min-width: 400px;
    display: block;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.438);
    margin: -15px auto;
}
main img {
    width: 100%;
}
main > h1{
    font-family: var(--fonte2);
    color: var(--cor5);
    padding: 30px 30px 0px 30px;
    margin: 0px;
    font-size: 30px;
    font-weight: normal;

}
article > p {
    font-family: var(--fonte0);
    color: black;
    text-align: justify;
    line-height: 1.5em;
    text-indent: 20px;
    padding: 20px;
}
article > h2 {
    background-image: linear-gradient(to right, var(--cor2), white);
    font-family: var(--fonte2);
    color: var(--cor5);
    font-size: 20px;
    padding: 0px 10px;
    margin: 0px 25px;
}
iframe{
    text-align: center;
    background-color: var(--cor5);
}
#bugdroid{
    background-color: white;
    text-align: center;
}
div.video{
    position: relative;
    background-color: var(--cor4);
    height: 0px;
    padding-bottom: 59%;
}
div.video >iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
h3{
    background-color: var(--cor4);
    border-radius: 10px 10px 0px 0px;
    padding: 5px 10px ;
    color: white;
    font-weight: normal;
}
aside {
    background-color: var(--cor2);
    margin: 10px 30px;
    border-radius: 10px;
    color: var(--cor5);
    padding: 5px 20px;
    text-indent: 20px;
}
ul.lista2{
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
    text-decoration: underline;
}
footer{
    text-align: center;
    background-color: var(--cor5);
    color: white;
    font-family: var(--fonte0);
    margin-top: 40px;
    margin-right: -5%;
    margin-left: -5%;
    margin-bottom: -5%;

}